# 1 Multi-Input Comprehensions

In [1]:
l = [i * 2 for i in range(10)]
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
type(l)

list

In [4]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
l.append(42)

In [6]:
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 42]

In [8]:
d = {i: i * 2 for i in range(10)}
d

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [9]:
type(d)

dict

In [10]:
s = {i for i in range(10)}
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
type(s)

set

In [12]:
g = (i for i in range(10))
g

In [13]:
type(g)

generator

In [14]:
[(x, y) for x in range(5) for y in range(3)]

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2)]

In [15]:
# 等同于双重循环
points = []
for x in range(5):
    for y in range(3):
        points.append((x, y))

In [16]:
points

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2)]

In [24]:
values1 = [x / (x - y)
          for x in range(100)
          if x > 50
          for y in range(100)
          if x - y != 0]

In [25]:
# 等同于
values2 = []
for x in range(100):
    if x > 50:
        for y in range(100):
            if x - y != 0:
                values2.append(x / (x - y))

In [26]:
values1 == values2

True

In [30]:
result1 = [(x, y) for x in range(10) for y in range(x)]

In [31]:
result2 = []
for x in range(10):
    for y in range(x):
        result2.append((x, y))

In [32]:
result1 == result2

True

# 2 Nested Comprehensions

In [33]:
vals = [[y * 3 for y in range(x)] for x in range(10)]
vals

[[],
 [0],
 [0, 3],
 [0, 3, 6],
 [0, 3, 6, 9],
 [0, 3, 6, 9, 12],
 [0, 3, 6, 9, 12, 15],
 [0, 3, 6, 9, 12, 15, 18],
 [0, 3, 6, 9, 12, 15, 18, 21],
 [0, 3, 6, 9, 12, 15, 18, 21, 24]]

In [35]:
outer = []
for x in range(10):
    inner = []
    for y in range(x):
        inner.append(y * 3)
    outer.append(inner)

In [36]:
outer

[[],
 [0],
 [0, 3],
 [0, 3, 6],
 [0, 3, 6, 9],
 [0, 3, 6, 9, 12],
 [0, 3, 6, 9, 12, 15],
 [0, 3, 6, 9, 12, 15, 18],
 [0, 3, 6, 9, 12, 15, 18, 21],
 [0, 3, 6, 9, 12, 15, 18, 21, 24]]

In [37]:
{x * y for x in range(10) for y in range(10)}

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 24,
 25,
 27,
 28,
 30,
 32,
 35,
 36,
 40,
 42,
 45,
 48,
 49,
 54,
 56,
 63,
 64,
 72,
 81}

In [38]:
g = ((x, y) for x in range(10) for y in range(x))

In [39]:
type(g)

generator

In [40]:
list(g)

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8)]

# 3 The map() Function

In [41]:
map(ord, 'The quick brown fox')

In [42]:
class Trace:
    def __init__(self):
        self.enabled = True

    def __call__(self, f):
        def wrap(*args, **kwargs):
            if self.enabled:
                print('Calling {}'.format(f))
            return f(*args, **kwargs)
        return wrap

In [43]:
result = map(Trace()(ord), 'The quick brown fox')

In [44]:
result

In [45]:
next(result)

Calling <built-in function ord>

84

In [46]:
next(result)

Calling <built-in function ord>

104

In [48]:
list(map(ord, 'The quick brown fox'))

[84,
 104,
 101,
 32,
 113,
 117,
 105,
 99,
 107,
 32,
 98,
 114,
 111,
 119,
 110,
 32,
 102,
 111,
 120]

In [50]:
for o in map(ord, 'The quick brown fox'):
    print(o)

84
104
101
32
113
117
105
99
107
32
98
114
111
119
110
32
102
111
120

# 4 Multiple Input Sequences

In [51]:
sizes = ['small', 'medium', 'large']
colors = ['lavender', 'teal', 'burnt orange']
animals = ['koala', 'platypus', 'salamander']

def combine(size, color, animal):
    return '{} {} {}'.format(size, color, animal)

In [52]:
list(map(combine, sizes, colors, animals))

['small lavender koala',
 'medium teal platypus',
 'large burnt orange salamander']

In [55]:
import itertools

def combine(quantity, size, color, animal):
    return '{} x {} {} {}'.format(quantity, size, color, animal)

list(map(combine, itertools.count(), sizes, colors, animals))

['0 x small lavender koala',
 '1 x medium teal platypus',
 '2 x large burnt orange salamander']

# 5 map() Versus Comprehensions

In [56]:
[str(i) for i in range(5)]

['0', '1', '2', '3', '4']

In [57]:
list(map(str, range(5)))

['0', '1', '2', '3', '4']

In [58]:
i = (str(i) for i in range(5))
i

In [59]:
list(i)

['0', '1', '2', '3', '4']

In [60]:
m = map(str, range(5))
m

In [61]:
list(m)

['0', '1', '2', '3', '4']

# 6 The filter() Function

In [63]:
positives = filter(lambda x: x > 0, [1, -5, 0, 6, -2, 8])
positives

In [64]:
list(positives)

[1, 6, 8]

In [66]:
trues = filter(None, [0, 1, False, True, [], [1, 2, 3], '', 'hello'])
trues

In [67]:
list(trues)

[1, True, [1, 2, 3], 'hello']

# 7 The functools.reduce() Function

In [68]:
from functools import reduce
import operator

In [69]:
reduce(operator.add, [1, 2, 3, 4, 5])

15

In [70]:
numbers = [1, 2, 3, 4, 5]
accumulator = operator.add(numbers[0], numbers[1])
for item in numbers[2:]:
    accumulator = operator.add(accumulator, item)

accumulator

15

In [71]:
def mul(x, y):
    print("mul {} {}".format(x, y))
    return x * y

In [72]:
reduce(mul, range(1, 10))

mul 1 2
mul 2 3
mul 6 4
mul 24 5
mul 120 6
mul 720 7
mul 5040 8
mul 40320 9

362880

In [74]:
# reduce(mul, [])

# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# <ipython-input-73-afb5e523a920> in <module>
# ----> 1 reduce(mul, [])

# TypeError: reduce() of empty sequence with no initial value

In [75]:
reduce(mul, [1])

1

In [76]:
values = [1, 2, 3]
reduce(operator.add, values, 0)

6

In [77]:
values = []
reduce(operator.add, values, 0)

0

In [78]:
values = [1, 2, 3]

In [79]:
reduce(operator.add, values, 0)

6

In [80]:
reduce(operator.mul, values, 1)

6

# 8 Combining map() and reduce()

In [81]:
def count_words(doc):
    normalised_doc = ''.join(c.lower() if c.isalpha() else ' ' for c in doc)
    frequencies = {}
    for word in normalised_doc.split():
        frequencies[word] = frequencies.get(word, 0) + 1
    return frequencies

In [82]:
count_words("It was the best of times, it was the worst of times.")

{'it': 2, 'was': 2, 'the': 2, 'best': 1, 'of': 2, 'times': 2, 'worst': 1}

In [83]:
documents = [
    'It was the best of times, it was the worst of times.',
    'I went to the woods because I wished to live deliberately, to front only the essential facts of life...',
    'Friends, Romans, countrymen, lend me your ears; I come to bury Caesar, not to praise him.',
    'I do not like green eggs and ham. I do not like them, Sam-I-Am.'
]

counts = map(count_words, documents)

def combine_counts(d1, d2):
    d = d1.copy()
    for word, count in d2.items():
        d[word] = d.get(word, 0) + count
    return d

In [84]:
total_counts = reduce(combine_counts, counts)
total_counts

{'it': 2,
 'was': 2,
 'the': 4,
 'best': 1,
 'of': 3,
 'times': 2,
 'worst': 1,
 'i': 6,
 'went': 1,
 'to': 5,
 'woods': 1,
 'because': 1,
 'wished': 1,
 'live': 1,
 'deliberately': 1,
 'front': 1,
 'only': 1,
 'essential': 1,
 'facts': 1,
 'life': 1,
 'friends': 1,
 'romans': 1,
 'countrymen': 1,
 'lend': 1,
 'me': 1,
 'your': 1,
 'ears': 1,
 'come': 1,
 'bury': 1,
 'caesar': 1,
 'not': 3,
 'praise': 1,
 'him': 1,
 'do': 2,
 'like': 2,
 'green': 1,
 'eggs': 1,
 'and': 1,
 'ham': 1,
 'them': 1,
 'sam': 1,
 'am': 1}

# 9 The Iteration Protocols

In [88]:
class ExampleIterator:
    def __init__(self):
        self.index = 0
        self.data = [1, 2, 3]

    def __iter__(self):
        return self

    def __next__(self):
        if self.index >= len(self.data):
            raise StopIteration()

        rslt = self.data[self.index]
        self.index += 1
        return rslt

In [89]:
i = ExampleIterator()

In [90]:
next(i)

1

In [91]:
next(i)

2

In [92]:
next(i)

3

In [94]:
# next(i)

# ---------------------------------------------------------------------------
# StopIteration                             Traceback (most recent call last)
# <ipython-input-93-a883b34d6d8a> in <module>
# ----> 1 next(i)

# <ipython-input-88-a873a29832c7> in __next__(self)
#       9     def __next__(self):
#      10         if self.index >= len(self.data):
# ---> 11             raise StopIteration()
#      12 
#      13         rslt = self.data[self.index]

# StopIteration:

In [96]:
for i in ExampleIterator():
    print(i)

1
2
3

# 10 Putting the Protocols Together

In [97]:
class ExampleIterator:
    def __init__(self, data):
        self.index = 0
        self.data = data

    def __iter__(self):
        return self

    def __next__(self):
        if self.index >= len(self.data):
            raise StopIteration()

        rslt = self.data[self.index]
        self.index += 1
        return rslt

class ExampleIterable:
    def __init__(self):
        self.data = [1, 2, 3]

    def __iter__(self):
        return ExampleIterator(self.data)

In [98]:
for i in ExampleIterable():
    print(i)

1
2
3

In [99]:
[i * 3 for i in ExampleIterable()]

[3, 6, 9]

# 11 Alternative Iterable Protocol

In [100]:
class AlternateIterable:
    def __init__(self):
        self.data = [1, 2, 3]

    def __getitem__(self, idx):
        return self.data[idx]

In [101]:
[i for i in AlternateIterable()]

[1, 2, 3]

# 12 Extended iter() Format

In [1]:
import datetime

In [2]:
i = iter(datetime.datetime.now, None)

In [3]:
next(i)

datetime.datetime(2019, 6, 11, 8, 51, 31, 607548)

In [4]:
next(i)

datetime.datetime(2019, 6, 11, 8, 51, 31, 619517)

In [5]:
next(i)

datetime.datetime(2019, 6, 11, 8, 51, 31, 626498)

In [6]:
with open('ending_file.txt', 'rt') as f:
    for line in iter(lambda: f.readline().strip(), 'END'):
        print(line)

You should
see this
text.

# 13 Duck Tail Iterator for Streamed Sensor Data

In [7]:
import datetime
import itertools
import random
import time

In [8]:
class Sensor:
    def __iter__(self):
        return self

    def __next__(self):
        return random.random()

In [9]:
sensor = Sensor()
timestamps = iter(datetime.datetime.now, None)

In [12]:
for stamp, value in itertools.islice(zip(timestamps, sensor), 10):
    print(stamp, value)
    time.sleep(1)

2019-06-11 09:09:06.692842 0.009257769887839773
2019-06-11 09:09:07.693314 0.39871781521895244
2019-06-11 09:09:08.693781 0.08128101058373904
2019-06-11 09:09:09.694192 0.8431963020520998
2019-06-11 09:09:10.694520 0.7033025197505415
2019-06-11 09:09:11.694845 0.069762227467977
2019-06-11 09:09:12.695020 0.2644126608818689
2019-06-11 09:09:13.695365 0.29196876940281524
2019-06-11 09:09:14.695846 0.7706603848772564
2019-06-11 09:09:15.696171 0.8075973157632479