# 3 Loading Data Using SQLAlchemy

In [1]:
import sqlalchemy as db

In [2]:
# engine = db.create_engine('mysql+mysqlconnector://user:passwd@localhost:3306/sqlalchemy_mysql')

In [3]:
connection = engine.connect()

In [4]:
results = engine.execute('SELECT * FROM posts LIMIT 10')
results

In [5]:
first_result = results.fetchone()

In [6]:
type(first_result)

sqlalchemy.engine.result.RowProxy

In [7]:
type(first_result.items())

list

In [8]:
first_result

(5, None, 1, None, datetime.datetime(2014, 5, 14, 14, 40, 26), 1, None, datetime.datetime(2014, 5, 13, 23, 58, 30), 1, datetime.datetime(2014, 5, 14, 0, 36, 31), None, None, None, None, 5, None, 1, 9.0, '<machine-learning>', 'How can I do simple machine learning without hard-coding behavior?', '448')

In [9]:
results.fetchmany(2)

[(7, 10, 3, None, datetime.datetime(2014, 5, 14, 8, 40, 55), 4, None, datetime.datetime(2014, 5, 14, 0, 11, 6), 1, datetime.datetime(2014, 5, 16, 13, 45), datetime.datetime(2014, 5, 16, 13, 45), None, 97, None, 36, None, 1, 4.0, '<education><open-source>', 'What open-source books (or other materials) provide a relatively thorough overview of data science?', '388'),
 (9, None, None, None, None, 0, None, datetime.datetime(2014, 5, 14, 0, 36, 31), None, datetime.datetime(2014, 5, 14, 0, 36, 31), None, None, None, None, 51, 5, 2, 5.0, None, None, None)]

In [10]:
other_results = results.fetchall()

In [11]:
type(other_results)

list

In [12]:
len(other_results)

7

In [13]:
other_results

[(10, None, None, None, None, 1, None, datetime.datetime(2014, 5, 14, 0, 53, 43), None, datetime.datetime(2014, 5, 14, 0, 53, 43), None, None, None, None, 22, 7, 2, 12.0, None, None, None),
 (14, 29, 4, None, None, 1, None, datetime.datetime(2014, 5, 14, 1, 26), 4, datetime.datetime(2014, 6, 20, 17, 36, 5), datetime.datetime(2014, 6, 17, 16, 17, 20), None, 322, None, 66, None, 1, 21.0, '<data-mining><definitions>', 'Is Data Science the Same as Data Mining?', '1243'),
 (15, None, 0, None, datetime.datetime(2014, 5, 14, 7, 41, 49), 1, None, datetime.datetime(2014, 5, 14, 1, 41, 23), None, datetime.datetime(2014, 5, 14, 1, 41, 23), None, None, None, None, 64, None, 1, 2.0, '<databases>', 'What are the advantages and disadvantages of SQL versus NoSQL in data science?', '543'),
 (16, 46, 2, None, None, 0, None, datetime.datetime(2014, 5, 14, 1, 57, 57), None, datetime.datetime(2014, 5, 17, 16, 24, 15), datetime.datetime(2014, 5, 17, 16, 24, 15), None, 84, None, 63, None, 1, 18.0, '<machine-learning><bigdata><libsvm>', 'Use liblinear on big data for semantic analysis', '322'),
 (17, None, None, None, None, 0, None, datetime.datetime(2014, 5, 14, 2, 49, 15), None, datetime.datetime(2014, 5, 16, 13, 44, 53), datetime.datetime(2014, 5, 16, 13, 44, 53), None, 63, None, 63, None, 5, 0.0, None, None, None),
 (18, None, None, None, None, 0, None, datetime.datetime(2014, 5, 14, 2, 49, 15), None, datetime.datetime(2014, 5, 14, 2, 49, 15), datetime.datetime(2014, 5, 14, 2, 49, 15), None, -1, None, -1, None, 4, 0.0, None, None, None),
 (19, 37, 12, None, None, 5, None, datetime.datetime(2014, 5, 14, 3, 56, 21), 20, datetime.datetime(2018, 5, 1, 13, 4, 44), datetime.datetime(2015, 6, 11, 20, 15, 29), None, 10119, None, 84, None, 1, 73.0, '<bigdata><scalability><efficiency><performance>', 'How big is big data?', '7993')]

# 4 Using Pandas and SQLAlchemy to Load, Work, and View Your Data

In [14]:
import pandas as pd

In [15]:
query = 'SELECT * FROM posts'
posts_df = pd.read_sql_query(query, engine)
type (posts_df)

pandas.core.frame.DataFrame

In [16]:
posts_df.columns

Index(['Id', 'AcceptedAnswerId', 'AnswerCount', 'Body', 'ClosedDate',
       'CommentCount', 'CommunityOwnedDate', 'CreationDate', 'FavoriteCount',
       'LastActivityDate', 'LastEditDate', 'LastEditorDisplayName',
       'LastEditorUserId', 'OwnerDisplayName', 'OwnerUserId', 'ParentId',
       'PostTypeId', 'Score', 'Tags', 'Title', 'ViewCount'],
      dtype='object')

In [17]:
posts_df.dtypes

Id                                int64
AcceptedAnswerId                float64
AnswerCount                     float64
Body                             object
ClosedDate               datetime64[ns]
CommentCount                      int64
CommunityOwnedDate       datetime64[ns]
CreationDate             datetime64[ns]
FavoriteCount                   float64
LastActivityDate         datetime64[ns]
LastEditDate             datetime64[ns]
LastEditorDisplayName            object
LastEditorUserId                float64
OwnerDisplayName                 object
OwnerUserId                     float64
ParentId                        float64
PostTypeId                        int64
Score                           float64
Tags                             object
Title                            object
ViewCount                        object
dtype: object

In [18]:
posts_df.head()

,Id,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,LastActivityDate,...,LastEditorDisplayName,LastEditorUserId,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount
0,5,NaN,1.0,None,2014-05-14 14:40:26,1,NaT,2014-05-13 23:58:30,1.0,2014-05-14 00:36:31,...,None,NaN,None,5.0,NaN,1,9.0,<machine-learning>,How can I do simple machine learning without h...,448
1,7,10.0,3.0,None,2014-05-14 08:40:55,4,NaT,2014-05-14 00:11:06,1.0,2014-05-16 13:45:00,...,None,97.0,None,36.0,NaN,1,4.0,<education><open-source>,What open-source books (or other materials) pr...,388
2,9,NaN,NaN,None,NaT,0,NaT,2014-05-14 00:36:31,NaN,2014-05-14 00:36:31,...,None,NaN,None,51.0,5.0,2,5.0,None,None,None
3,10,NaN,NaN,None,NaT,1,NaT,2014-05-14 00:53:43,NaN,2014-05-14 00:53:43,...,None,NaN,None,22.0,7.0,2,12.0,None,None,None
4,14,29.0,4.0,None,NaT,1,NaT,2014-05-14 01:26:00,4.0,2014-06-20 17:36:05,...,None,322.0,None,66.0,NaN,1,21.0,<data-mining><definitions>,Is Data Science the Same as Data Mining?,1243

In [19]:
posts_df[['ViewCount', 'AnswerCount']].max()

AnswerCount    34.0
dtype: float64

In [20]:
posts_df[['ViewCount', 'AnswerCount']].min()

AnswerCount    0.0
dtype: float64

In [21]:
posts_df[['ViewCount', 'AnswerCount']].sum()

AnswerCount    13406.0
dtype: float64

In [22]:
posts_df.groupby('OwnerUserId')

In [23]:
posts_df[['ViewCount', 'AnswerCount']].describe()

        AnswerCount
count  11798.000000
mean       1.136294
std        1.143618
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max       34.000000

# 5 Visualizing and Graphing Data with Matplotlib

In [24]:
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
x = posts_df['AnswerCount']
y = posts_df['ViewCount']

In [26]:
import numpy as np

In [27]:
colors = np.random.rand(4500)

In [32]:
# 数据字段存在空值会报错，暂时不管
# plt.scatter(x, y, c=colors)
# plt.title("Posts: Views vs. Answers")
# plt.xlabel("Answers")
# plt.ylabel("Views")
# plt.show()