# 2 Creating Databases

In [1]:
import sqlalchemy as db

In [2]:
# engine = db.create_engine('mysql+mysqlconnector://user:mysql@localhost:3306')

In [3]:
connection = engine.connect()

In [4]:
engine.execute('CREATE DATABASE test_mysql_sa;')

# 3 Creating Tables

In [5]:
# engine = db.create_engine('mysql+mysqlconnector://user:mysql@localhost:3306/test_mysql_sa')

In [6]:
connection = engine.connect()

In [7]:
metadata = db.MetaData()

In [8]:
metadata

MetaData(bind=None)

In [9]:
posts = db.Table('posts', metadata,
                 db.Column('Id', db.Integer()),
                 db.Column('Title', db.String(255)),
                 db.Column('ViewCount', db.Integer()),
                 db.Column('Question', db.Boolean()))

In [10]:
metadata.create_all(engine)

In [11]:
metadata

MetaData(bind=None)

In [12]:
posts

Table('posts', MetaData(bind=None), Column('Id', Integer(), table=<posts>), Column('Title', String(length=255), table=<posts>), Column('ViewCount', Integer(), table=<posts>), Column('Question', Boolean(), table=<posts>), schema=None)

In [13]:
list(posts.c)

[Column('Id', Integer(), table=<posts>),
 Column('Title', String(length=255), table=<posts>),
 Column('ViewCount', Integer(), table=<posts>),
 Column('Question', Boolean(), table=<posts>)]

In [14]:
dir(posts)

['__and__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_annotate',
 '_annotations',
 '_autoincrement_column',
 '_autoload',
 '_clone',
 '_cloned_set',
 '_cols_populated',
 '_columns',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_deannotate',
 '_execute_on_connection',
 '_extra_dependencies',
 '_extra_kwargs',
 '_from_objects',
 '_hide_froms',
 '_init',
 '_init_collections',
 '_init_existing',
 '_init_items',
 '_is_clone_of',
 '_is_from_container',
 '_is_join',
 '_is_lateral',
 '_is_lexical_equivalent',
 '_is_select',
 '_kw_reg_for_dialect',
 '_kw_reg_for_dialect_cls',
 '_kw_registry',
 '_memoized_property',
 '_negate',
 '_order_by_label_element',
 '_params',
 '_populate_column_collection',
 '_prefixes',
 '_refresh_for_new_column',
 '_reset_exported',
 '_schema_item_copy',
 '_select_iterable',
 '_set_parent',
 '_set_parent_with_dispatch',
 '_sorted_constraints',
 '_textual',
 '_translate_schema',
 '_validate_dialect_kwargs',
 '_with_annotations',
 'add_is_dependent_on',
 'alias',
 'append_column',
 'append_constraint',
 'append_ddl_listener',
 'argument_for',
 'bind',
 'c',
 'columns',
 'comment',
 'compare',
 'compile',
 'constraints',
 'correspond_on_equivalents',
 'corresponding_column',
 'count',
 'create',
 'delete',
 'description',
 'dialect_kwargs',
 'dialect_options',
 'dispatch',
 'drop',
 'exists',
 'foreign_key_constraints',
 'foreign_keys',
 'fullname',
 'get_children',
 'implicit_returning',
 'indexes',
 'info',
 'insert',
 'is_clause_element',
 'is_derived_from',
 'is_selectable',
 'join',
 'key',
 'kwargs',
 'lateral',
 'metadata',
 'name',
 'named_with_column',
 'outerjoin',
 'params',
 'primary_key',
 'quote',
 'quote_schema',
 'replace_selectable',
 'schema',
 'select',
 'selectable',
 'self_group',
 'supports_execution',
 'tablesample',
 'tometadata',
 'unique_params',
 'update']

# 4 Primary Keys, Constraints, and Data Defaults

In [15]:
posts_two = db.Table('posts_two', metadata,
                     db.Column('Id', db.Integer(), primary_key=True, unique=True),
                     db.Column('Title', db.String(255), nullable=False),
                     db.Column('ViewCount', db.Integer(), default=1000),
                     db.Column('Question', db.Boolean(), default=True))

In [16]:
posts_two.create(engine)

In [17]:
posts_two

Table('posts_two', MetaData(bind=None), Column('Id', Integer(), table=<posts_two>, primary_key=True, nullable=False), Column('Title', String(length=255), table=<posts_two>, nullable=False), Column('ViewCount', Integer(), table=<posts_two>, default=ColumnDefault(1000)), Column('Question', Boolean(), table=<posts_two>, default=ColumnDefault(True)), schema=None)

In [18]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [19]:
Base = declarative_base()

In [20]:
class User(Base):
    __tablename__ = 'user'
    Id = db.Column(db.Integer(), primary_key=True)
    Name = db.Column(db.String(255))

In [21]:
class Post(Base):
    __tablename__ = 'post'
    Id = db.Column(db.Integer(), primary_key=True)
    Title = db.Column(db.String(255), nullable=False)
    ViewCount = db.Column(db.Integer(), default=1000)
    Question = db.Column(db.Boolean(), default=True)
    OwnerUserId = db.Column(db.Integer(), db.schema.ForeignKey('user.Id'), nullable=False)
    User = relationship('User', backref='post')

In [22]:
Base.metadata.create_all(engine)

# 5 Inserting Dataï¼š Single and Multiple Rows

#### 5.1 Insert Using a Statement

In [23]:
users = db.Table('user', metadata, autoload=True, autoload_with=engine)

In [24]:
stmt = db.insert(users).values(Name='Xavier Morera')

In [25]:
result = connection.execute(stmt)

In [26]:
result.rowcount

1

#### 5.2 Insert Using Session

In [27]:
from sqlalchemy.orm import sessionmaker

In [28]:
session = sessionmaker()
session.configure(bind=engine)
my_session = session()

In [29]:
Juli = User(Name='Juli')
Luci = User(Name='Luci')

In [30]:
my_session.add(Juli)
my_session.add(Luci)

In [31]:
my_session.new

IdentitySet([<__main__.User object at 0x00000192FDF6D208>, <__main__.User object at 0x00000192FDF6D1D0>])

In [32]:
my_session.commit()

In [33]:
for each_user in my_session.query(User).all():
    print(each_user.Name)

Xavier Morera
Juli
Luci

#### 5.3 Insert Multiple Records

In [34]:
posts = db.Table('post', metadata, autoload=True, autoload_with=engine)

In [35]:
stmt = db.insert(posts)

In [36]:
values_list = [{'Title': 'Data Science Question', 'OwnerUserId': 1},
               {'Title': 'Data Science Answer', 'OwnerUserId': 2}]

In [37]:
result = connection.execute(stmt, values_list)

In [38]:
result

In [39]:
one_post = Post(Title='Sample question', OwnerUserId=1)
one_answer = Post(Title='Sample answer', Question=False, OwnerUserId=1)

In [40]:
my_session.add_all([one_post, one_answer])

In [41]:
my_session.commit()

In [42]:
engine.execute('select * from post;').fetchall()

[(1, 'Data Science Question', None, None, 1),
 (2, 'Data Science Answer', None, None, 2),
 (3, 'Sample question', 1000, 1, 1),
 (4, 'Sample answer', 1000, 0, 1)]

# 6 Loading a CSV into a Table

In [43]:
class Tags(Base):
    __tablename__ = 'tags'
    Id = db.Column(db.Integer(), primary_key=True)
    TagName = db.Column(db.String(255), nullable=True)
    Count = db.Column(db.Integer(), nullable=True)
    ExcerptPostId = db.Column(db.Integer(), nullable=True)
    WikiPostId = db.Column(db.Integer(), nullable=True)

In [45]:
import pandas as pd

In [46]:
with open('tags.csv', 'r') as file:
    tags_df = pd.read_csv(file)

In [47]:
tags_df.head()

   Id           TagName  Count  ExcerptPostId  WikiPostId
0   1       definitions     22          105.0       104.0
1   2  machine-learning   3944         4909.0      4908.0
2   3           bigdata    329           66.0        65.0
3   5       data-mining    727           80.0        79.0
4   6         databases     55         8960.0      8959.0

In [48]:
tags_df.to_sql('tags', con=engine)

In [49]:
engine.execute('select * from tags limit 10;').fetchall()

[(0, 1, 'definitions', 22, 105.0, 104.0),
 (1, 2, 'machine-learning', 3944, 4909.0, 4908.0),
 (2, 3, 'bigdata', 329, 66.0, 65.0),
 (3, 5, 'data-mining', 727, 80.0, 79.0),
 (4, 6, 'databases', 55, 8960.0, 8959.0),
 (5, 8, 'libsvm', 11, 18.0, 17.0),
 (6, 10, 'scalability', 22, None, None),
 (7, 11, 'efficiency', 25, 142.0, 141.0),
 (8, 12, 'performance', 73, None, None),
 (9, 13, 'nosql', 21, 119.0, 118.0)]