# 2 Tuple

In [1]:
t = ('Norway', 4.953, 3)
t

('Norway', 4.953, 3)

In [2]:
t[0]

'Norway'

In [3]:
t[2]

3

In [4]:
len(t)

3

In [5]:
for item in t:
    print(item)

Norway
4.953
3

In [6]:
t + (338186.0, 265e9)

('Norway', 4.953, 3, 338186.0, 265000000000.0)

In [7]:
t * 3

('Norway', 4.953, 3, 'Norway', 4.953, 3, 'Norway', 4.953, 3)

In [8]:
a = ((220, 284), (1184, 1210), (2620, 2924), (5020, 5564))
a[2]

(2620, 2924)

In [9]:
a[2][1]

2924

In [10]:
h = (391)
h

391

In [11]:
type(h)

int

In [12]:
k = (391,)
k

(391,)

In [13]:
type(k)

tuple

In [14]:
e = ()
e

()

In [15]:
type(e)

tuple

In [16]:
p = 1, 1, 1, 4, 6, 9
p

(1, 1, 1, 4, 6, 9)

In [17]:
type(p)

tuple

In [18]:
def minmax(items):
    return min(items), max(items)

In [20]:
r = minmax([83, 33, 84, 32, 85, 31, 86])
r

(31, 86)

In [21]:
type(r)

tuple

In [22]:
lower, upper = minmax([83, 33, 84, 32, 85, 31, 86])

In [23]:
lower

31

In [24]:
upper

86

In [25]:
(a, (b, (c, d))) = (4, (3, (2, 1)))

In [26]:
a

4

In [27]:
b

3

In [28]:
c

2

In [29]:
d

1

In [30]:
a = 'jelly'
a

'jelly'

In [31]:
b = 'bean'
b

'bean'

In [32]:
a, b = b, a

In [33]:
a

'bean'

In [34]:
b

'jelly'

In [35]:
tuple([561, 1105, 1729, 2465])

(561, 1105, 1729, 2465)

In [36]:
tuple('Carmichael')

('C', 'a', 'r', 'm', 'i', 'c', 'h', 'a', 'e', 'l')

In [37]:
5 in (3, 5, 17, 257, 65537)

True

In [38]:
5 not in (3, 5, 17, 257, 65537)

False

# 3 String

In [39]:
len('woeijqptogjqg[pqjiopweqtgqtykro')

31

In [40]:
'New' + 'found' + 'land'

'Newfoundland'

In [42]:
# str不可变，+或+=操作会反复重新绑定对象，操作频繁会损耗性能
s = 'New'
s += 'mac'
s += 'book'
s

'Newmacbook'

In [43]:
colors = ';'.join(['#45ff23', '#2321fa', '#1298a3', '#a32312'])
colors

'#45ff23;#2321fa;#1298a3;#a32312'

In [44]:
colors.split(';')

['#45ff23', '#2321fa', '#1298a3', '#a32312']

In [46]:
# 使用''.join替代+和+=操作
''.join(['high', 'way', 'man'])

'highwayman'

In [47]:
'unforgetable'.partition('forget')

('un', 'forget', 'able')

In [48]:
departure, separator, arrival = "London:Edinburgh".partition(':')

In [49]:
departure

'London'

In [51]:
separator

':'

In [52]:
arrival

'Edinburgh'

In [54]:
# 不需要的值可以用'_'占位
origin, _, destination = "Seattle-Boston".partition('-')

In [55]:
origin

'Seattle'

In [56]:
_

'-'

In [57]:
destination

'Boston'

In [58]:
"The age of {0} is {1}".format('Jim', 32)

'The age of Jim is 32'

In [59]:
"The age of {0} is {1}. {0}'s birthday is on {2}".format('Fred', 24, 'October 32')

"The age of Fred is 24. Fred's birthday is on October 32"

In [62]:
"Current position {latitude}, {longitude}".format(latitude='60N',
                                                  longitude='5E')

'Current position 60N, 5E'

In [63]:
pos = (65.2, 23.1, 82.2)
"Galactic position x={pos[0]}, y={pos[1]}, z={pos[2]}".format(pos=pos)

'Galactic position x=65.2, y=23.1, z=82.2'

In [64]:
import math
"Math constants: pi={m.pi}, e={m.e}".format(m=math)

'Math constants: pi=3.141592653589793, e=2.718281828459045'

In [65]:
"Math constants: pi={m.pi:.3f}, e={m.e:.3f}".format(m=math)

'Math constants: pi=3.142, e=2.718'

# 4 Range

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
range(5, 10)

range(5, 10)

In [69]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [70]:
list(range(10, 15))

[10, 11, 12, 13, 14]

In [71]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [72]:
# 不要这么做，性能很差
s = [0, 1, 4, 6, 13]
for i in range(len(s)):
    print(s[i])

0
1
4
6
13

In [73]:
# 正确做法时这样
for v in s:
    print(v)

0
1
4
6
13

In [75]:
t = [6, 372, 8862, 148800, 2096886]
for p in enumerate(t):
    print(p)

(0, 6)
(1, 372)
(2, 8862)
(3, 148800)
(4, 2096886)

In [76]:
for i, v in enumerate(t):
    print("i = {}, v = {}".format(i, v))

i = 0, v = 6
i = 1, v = 372
i = 2, v = 8862
i = 3, v = 148800
i = 4, v = 2096886

# 5 List

In [77]:
s = "show how to index into sequences".split()
s

['show', 'how', 'to', 'index', 'into', 'sequences']

In [78]:
s[4]

'into'

In [79]:
s[-5]

'how'

In [80]:
s[1:4]

['how', 'to', 'index']

In [81]:
s[1:-1]

['how', 'to', 'index', 'into']

In [82]:
s[3:]

['index', 'into', 'sequences']

In [83]:
s[:3]

['show', 'how', 'to']

In [84]:
full_slice = s[:]
full_slice

['show', 'how', 'to', 'index', 'into', 'sequences']

In [85]:
full_slice is s

False

In [86]:
full_slice == s

True

In [87]:
u = s.copy()
u

['show', 'how', 'to', 'index', 'into', 'sequences']

In [88]:
u is s

False

In [89]:
u == s

True

In [90]:
v = list(s)
v

['show', 'how', 'to', 'index', 'into', 'sequences']

In [91]:
v is s

False

In [92]:
v == s

True

# 6 Shallow Copies

In [93]:
a = [[1, 2], [3, 4]]

In [94]:
b = a.copy()

In [95]:
a is b

False

In [96]:
a == b

True

In [97]:
a[0]

[1, 2]

In [98]:
b[0]

[1, 2]

In [99]:
a[0] is b[0]

True

In [100]:
a[0] = [8, 9]
a[0]

[8, 9]

In [101]:
b[0]

[1, 2]

In [102]:
a[1].append(5)
a[1]

[3, 4, 5]

In [103]:
b[1]

[3, 4, 5]

In [104]:
a

[[8, 9], [3, 4, 5]]

In [105]:
b

[[1, 2], [3, 4, 5]]