# 2 Tuple

In [1]:
t = ('Norway', 4.953, 3)
t

('Norway', 4.953, 3)

In [2]:
t[0]

'Norway'

In [3]:
t[2]

3

In [4]:
len(t)

3

In [5]:
for item in t:
    print(item)

Norway
4.953
3

In [6]:
t + (338186.0, 265e9)

('Norway', 4.953, 3, 338186.0, 265000000000.0)

In [7]:
t * 3

('Norway', 4.953, 3, 'Norway', 4.953, 3, 'Norway', 4.953, 3)

In [8]:
a = ((220, 284), (1184, 1210), (2620, 2924), (5020, 5564))
a[2]

(2620, 2924)

In [9]:
a[2][1]

2924

In [10]:
h = (391)
h

391

In [11]:
type(h)

int

In [12]:
k = (391,)
k

(391,)

In [13]:
type(k)

tuple

In [14]:
e = ()
e

()

In [15]:
type(e)

tuple

In [16]:
p = 1, 1, 1, 4, 6, 9
p

(1, 1, 1, 4, 6, 9)

In [17]:
type(p)

tuple

In [18]:
def minmax(items):
    return min(items), max(items)

In [20]:
r = minmax([83, 33, 84, 32, 85, 31, 86])
r

(31, 86)

In [21]:
type(r)

tuple

In [22]:
lower, upper = minmax([83, 33, 84, 32, 85, 31, 86])

In [23]:
lower

31

In [24]:
upper

86

In [25]:
(a, (b, (c, d))) = (4, (3, (2, 1)))

In [26]:
a

4

In [27]:
b

3

In [28]:
c

2

In [29]:
d

1

In [30]:
a = 'jelly'
a

'jelly'

In [31]:
b = 'bean'
b

'bean'

In [32]:
a, b = b, a

In [33]:
a

'bean'

In [34]:
b

'jelly'

In [35]:
tuple([561, 1105, 1729, 2465])

(561, 1105, 1729, 2465)

In [36]:
tuple('Carmichael')

('C', 'a', 'r', 'm', 'i', 'c', 'h', 'a', 'e', 'l')

In [37]:
5 in (3, 5, 17, 257, 65537)

True

In [38]:
5 not in (3, 5, 17, 257, 65537)

False

# 3 String

In [39]:
len('woeijqptogjqg[pqjiopweqtgqtykro')

31

In [40]:
'New' + 'found' + 'land'

'Newfoundland'

In [42]:
# str不可变，+或+=操作会反复重新绑定对象，操作频繁会损耗性能
s = 'New'
s += 'mac'
s += 'book'
s

'Newmacbook'

In [43]:
colors = ';'.join(['#45ff23', '#2321fa', '#1298a3', '#a32312'])
colors

'#45ff23;#2321fa;#1298a3;#a32312'

In [44]:
colors.split(';')

['#45ff23', '#2321fa', '#1298a3', '#a32312']

In [46]:
# 使用''.join替代+和+=操作
''.join(['high', 'way', 'man'])

'highwayman'

In [47]:
'unforgetable'.partition('forget')

('un', 'forget', 'able')

In [48]:
departure, separator, arrival = "London:Edinburgh".partition(':')

In [49]:
departure

'London'

In [51]:
separator

':'

In [52]:
arrival

'Edinburgh'

In [54]:
# 不需要的值可以用'_'占位
origin, _, destination = "Seattle-Boston".partition('-')

In [55]:
origin

'Seattle'

In [56]:
_

'-'

In [57]:
destination

'Boston'

In [58]:
"The age of {0} is {1}".format('Jim', 32)

'The age of Jim is 32'

In [59]:
"The age of {0} is {1}. {0}'s birthday is on {2}".format('Fred', 24, 'October 32')

"The age of Fred is 24. Fred's birthday is on October 32"

In [62]:
"Current position {latitude}, {longitude}".format(latitude='60N',
                                                  longitude='5E')

'Current position 60N, 5E'

In [63]:
pos = (65.2, 23.1, 82.2)
"Galactic position x={pos[0]}, y={pos[1]}, z={pos[2]}".format(pos=pos)

'Galactic position x=65.2, y=23.1, z=82.2'

In [64]:
import math
"Math constants: pi={m.pi}, e={m.e}".format(m=math)

'Math constants: pi=3.141592653589793, e=2.718281828459045'

In [65]:
"Math constants: pi={m.pi:.3f}, e={m.e:.3f}".format(m=math)

'Math constants: pi=3.142, e=2.718'

# 4 Range

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
range(5, 10)

range(5, 10)

In [69]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [70]:
list(range(10, 15))

[10, 11, 12, 13, 14]

In [71]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [72]:
# 不要这么做，性能很差
s = [0, 1, 4, 6, 13]
for i in range(len(s)):
    print(s[i])

0
1
4
6
13

In [73]:
# 正确做法时这样
for v in s:
    print(v)

0
1
4
6
13

In [75]:
t = [6, 372, 8862, 148800, 2096886]
for p in enumerate(t):
    print(p)

(0, 6)
(1, 372)
(2, 8862)
(3, 148800)
(4, 2096886)

In [76]:
for i, v in enumerate(t):
    print("i = {}, v = {}".format(i, v))

i = 0, v = 6
i = 1, v = 372
i = 2, v = 8862
i = 3, v = 148800
i = 4, v = 2096886

# 5 List

In [77]:
s = "show how to index into sequences".split()
s

['show', 'how', 'to', 'index', 'into', 'sequences']

In [78]:
s[4]

'into'

In [79]:
s[-5]

'how'

In [80]:
s[1:4]

['how', 'to', 'index']

In [81]:
s[1:-1]

['how', 'to', 'index', 'into']

In [82]:
s[3:]

['index', 'into', 'sequences']

In [83]:
s[:3]

['show', 'how', 'to']

In [84]:
full_slice = s[:]
full_slice

['show', 'how', 'to', 'index', 'into', 'sequences']

In [85]:
full_slice is s

False

In [86]:
full_slice == s

True

In [87]:
u = s.copy()
u

['show', 'how', 'to', 'index', 'into', 'sequences']

In [88]:
u is s

False

In [89]:
u == s

True

In [90]:
v = list(s)
v

['show', 'how', 'to', 'index', 'into', 'sequences']

In [91]:
v is s

False

In [92]:
v == s

True

# 6 Shallow Copies

In [93]:
a = [[1, 2], [3, 4]]

In [94]:
b = a.copy()

In [95]:
a is b

False

In [96]:
a == b

True

In [97]:
a[0]

[1, 2]

In [98]:
b[0]

[1, 2]

In [99]:
a[0] is b[0]

True

In [100]:
a[0] = [8, 9]
a[0]

[8, 9]

In [101]:
b[0]

[1, 2]

In [102]:
a[1].append(5)
a[1]

[3, 4, 5]

In [103]:
b[1]

[3, 4, 5]

In [104]:
a

[[8, 9], [3, 4, 5]]

In [105]:
b

[[1, 2], [3, 4, 5]]

# 7 List Repetition

In [1]:
c = [21, 37]
d = c * 4
d

[21, 37, 21, 37, 21, 37, 21, 37]

In [2]:
[0] * 9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [3]:
# It's shallow copy(浅拷贝)
s = [[-1, 1]] * 5
s

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

In [11]:
s[3].append(7)
s

[[-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

In [12]:
del s[0][2]
s

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

# 8 More on List

In [13]:
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [15]:
i = w.index('fox')
i

3

In [16]:
w[i]

'fox'

In [18]:
# 没找到抛出异常

# i = w.index('unicorn')
# ---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# <ipython-input-17-76bc8159204e> in <module>
# ----> 1 i = w.index('unicorn')

# ValueError: 'unicorn' is not in list

In [19]:
w.count('the')

2

In [20]:
37 in [1, 78, 9, 37, 34, 53]

True

In [21]:
78 not in [1, 78, 9, 37, 34, 53]

False

In [27]:
u = "jackdaws love my big sphinx of quartz".split()
u

['jackdaws', 'love', 'my', 'big', 'sphinx', 'of', 'quartz']

In [28]:
# remove by index
del u[3]
u

['jackdaws', 'love', 'my', 'sphinx', 'of', 'quartz']

In [29]:
# remove by value
u.remove('jackdaws')
u

['love', 'my', 'sphinx', 'of', 'quartz']

In [30]:
# 等同于u.remove('quartz')
del u[u.index('quartz')]
u

['love', 'my', 'sphinx', 'of']

In [33]:
# 值不存在就抛异常

# u.remove('pyramid')
# ---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# <ipython-input-32-2fa1f6e9dca0> in <module>
# ----> 1 u.remove('pyramid')

# ValueError: list.remove(x): x not in list

In [34]:
a = "I accidentally the whole universe".split()
a

['I', 'accidentally', 'the', 'whole', 'universe']

In [35]:
a.insert(2, 'destroyed')
a

['I', 'accidentally', 'destroyed', 'the', 'whole', 'universe']

In [36]:
' '.join(a)

'I accidentally destroyed the whole universe'

# 9 Growing Lists

In [37]:
m = [2, 1, 3]
n = [4, 7, 11]
k = m + n
k

[2, 1, 3, 4, 7, 11]

In [38]:
k += [18, 29, 47]
k

[2, 1, 3, 4, 7, 11, 18, 29, 47]

In [39]:
k.extend([76, 129, 199])
k

[2, 1, 3, 4, 7, 11, 18, 29, 47, 76, 129, 199]

In [40]:
k.append(255)
k

[2, 1, 3, 4, 7, 11, 18, 29, 47, 76, 129, 199, 255]

In [41]:
k.append([333, 444, 555])
k

[2, 1, 3, 4, 7, 11, 18, 29, 47, 76, 129, 199, 255, [333, 444, 555]]

# 10 Reversing and Sorting Lists

In [42]:
g = [1, 11, 21, 1211, 112111]
g.reverse()
g

[112111, 1211, 21, 11, 1]

In [43]:
d = [5, 17, 41, 29, 71, 149, 3299, 7, 13, 67]
d

[5, 17, 41, 29, 71, 149, 3299, 7, 13, 67]

In [44]:
d.sort()
d

[5, 7, 13, 17, 29, 41, 67, 71, 149, 3299]

In [45]:
d.sort(reverse=True)
d

[3299, 149, 71, 67, 41, 29, 17, 13, 7, 5]

In [46]:
h = "not perplexing do handwriting family where I illegibly know doctors".split()
h

['not',
 'perplexing',
 'do',
 'handwriting',
 'family',
 'where',
 'I',
 'illegibly',
 'know',
 'doctors']

In [47]:
# 按字符串长度升序排序
h.sort(key=len)
h

['I',
 'do',
 'not',
 'know',
 'where',
 'family',
 'doctors',
 'illegibly',
 'perplexing',
 'handwriting']

In [48]:
' '.join(h)

'I do not know where family doctors illegibly perplexing handwriting'

In [49]:
x = [4, 9, 2, 1]
# 返回list
y = sorted(x)
y

[1, 2, 4, 9]

In [50]:
x

[4, 9, 2, 1]

In [51]:
p = [9, 3, 1, 0]
# 返回可迭代对象
q = reversed(p)
q

In [52]:
list(q)

[0, 1, 3, 9]

# 11 Dictionary

In [53]:
urls = {'Google': 'http://google.com',
        'Pluralsight': 'http://pluralsight.com',
        'Sixty North': 'http://sixty-north.com'}

In [54]:
urls['Pluralsight']

'http://pluralsight.com'

In [57]:
names_and_ages = [('Alice', 32), ('Bob', 48), ('Charlie', 28), ('Daniel', 33)]

In [58]:
d = dict(names_and_ages)
d

{'Alice': 32, 'Bob': 48, 'Charlie': 28, 'Daniel': 33}

In [60]:
phonetic = dict(a='alfa', b='bravo', c='charlie', d='delta', e='echo', f='foxtrot')
phonetic

{'a': 'alfa',
 'b': 'bravo',
 'c': 'charlie',
 'd': 'delta',
 'e': 'echo',
 'f': 'foxtrot'}

In [61]:
d = dict(goldenrod=0xDAA520, indigo=0x4B0082, seashell=0xFFF5EE)
d

{'goldenrod': 14329120, 'indigo': 4915330, 'seashell': 16774638}

In [62]:
e = d.copy()
e

{'goldenrod': 14329120, 'indigo': 4915330, 'seashell': 16774638}

In [69]:
f = dict(e)
f

{'goldenrod': 14329120, 'indigo': 4915330, 'seashell': 16774638}

In [70]:
g = dict(wheat=0xF5DEB3, khaki=0xF0E68C, crimson=0xDC143C)
g

{'wheat': 16113331, 'khaki': 15787660, 'crimson': 14423100}

In [71]:
f.update(g)
f

{'goldenrod': 14329120,
 'indigo': 4915330,
 'seashell': 16774638,
 'wheat': 16113331,
 'khaki': 15787660,
 'crimson': 14423100}

In [72]:
stocks = {'GOOG': 891, 'AAPL': 416, 'IBM': 194}
stocks.update({'GOOG': 894, 'YHOO': 25})
stocks

{'GOOG': 894, 'AAPL': 416, 'IBM': 194, 'YHOO': 25}

In [73]:
colors = dict(aquamarine='#7FFFD4', burlywood='#DEB887', chartreuse='#7FFF00',
              cornflower='#6495ED', firebrick='#B22222', honeydew='#F0FFF0',
              marron='#B03060', sienna='#A0522D')

In [76]:
for key in colors:
    print("{key} => {value}".format(key=key, value=colors[key]))

aquamarine => #7FFFD4
burlywood => #DEB887
chartreuse => #7FFF00
cornflower => #6495ED
firebrick => #B22222
honeydew => #F0FFF0
marron => #B03060
sienna => #A0522D

In [77]:
for value in colors.values():
    print(value)

#7FFFD4
#DEB887
#7FFF00
#6495ED
#B22222
#F0FFF0
#B03060
#A0522D

In [78]:
for key in colors.keys():
    print(key)

aquamarine
burlywood
chartreuse
cornflower
firebrick
honeydew
marron
sienna

In [79]:
for key, value in colors.items():
    print("{key} => {value}".format(key=key, value=value))

aquamarine => #7FFFD4
burlywood => #DEB887
chartreuse => #7FFF00
cornflower => #6495ED
firebrick => #B22222
honeydew => #F0FFF0
marron => #B03060
sienna => #A0522D

In [80]:
symbols = dict(usd='\u0024', gbp='\u00a3', nzd='\u0024', krw='\u20a9', eur='\u20ac',
               jpy='\u00a5', nok='kr', ils='\u20aa', hhg='Pu')
symbols

{'usd': '$',
 'gbp': '£',
 'nzd': '$',
 'krw': '₩',
 'eur': '€',
 'jpy': '¥',
 'nok': 'kr',
 'ils': '₪',
 'hhg': 'Pu'}

In [81]:
'nzd' in symbols

True

In [82]:
'mkd' in symbols

False

In [83]:
z = {'H': 1, 'Tc': 43, 'Xe': 54, 'Un': 137, 'Rf': 104, 'Fm': 100}
z

{'H': 1, 'Tc': 43, 'Xe': 54, 'Un': 137, 'Rf': 104, 'Fm': 100}

In [84]:
del z['Un']
z

{'H': 1, 'Tc': 43, 'Xe': 54, 'Rf': 104, 'Fm': 100}

In [85]:
m = {'H': [1, 2, 3],
     'He': [3, 4],
     'Li': [6, 7],
     'Be': [7, 9, 10],
     'B': [10, 11],
     'C': [11, 12, 13, 14]}

In [86]:
m['H'] += [4, 5, 6, 7]
m

{'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7],
 'Be': [7, 9, 10],
 'B': [10, 11],
 'C': [11, 12, 13, 14]}

In [87]:
m['N'] = [13, 14, 15]
m

{'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7],
 'Be': [7, 9, 10],
 'B': [10, 11],
 'C': [11, 12, 13, 14],
 'N': [13, 14, 15]}

In [88]:
from pprint import pprint as pp

In [89]:
pp(m)

{'B': [10, 11],
 'Be': [7, 9, 10],
 'C': [11, 12, 13, 14],
 'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7],
 'N': [13, 14, 15]}

# 12 Set

In [90]:
p = {6, 28, 496, 8128, 33550336}
p

{6, 28, 496, 8128, 33550336}

In [91]:
type(p)

set

In [92]:
d = {}
type(d)

dict

In [93]:
e = set()
e

set()

In [94]:
s = set([2, 4, 16, 64, 4096, 65536, 262144])
s

{2, 4, 16, 64, 4096, 65536, 262144}

In [95]:
t = [1, 4, 2, 1, 7, 9, 9]
set(t)

{1, 2, 4, 7, 9}

In [96]:
for x in {1, 2, 4, 8, 16, 32}:
    print(x)

32
1
2
4
8
16

In [97]:
q = {2, 9, 6, 4}

In [98]:
3 in q

False

In [99]:
3 not in q

True

In [100]:
k = {81, 108}
k

{81, 108}

In [101]:
k.add(54)
k

{54, 81, 108}

In [102]:
k.add(12)
k

{12, 54, 81, 108}

In [103]:
k.add(108)
k

{12, 54, 81, 108}

In [104]:
k.update([37, 128, 97, 108])
k

{12, 37, 54, 81, 97, 108, 128}

In [105]:
k.remove(97)
k

{12, 37, 54, 81, 108, 128}

In [107]:
# k.remove(98)

# ---------------------------------------------------------------------------
# KeyError                                  Traceback (most recent call last)
# <ipython-input-106-4ee0db153714> in <module>
# ----> 1 k.remove(98)

# KeyError: 98

In [108]:
k.discard(12)
k

{37, 54, 81, 108, 128}

In [109]:
k.discard(98)
k

{37, 54, 81, 108, 128}

In [110]:
j = k.copy()
j

{37, 54, 81, 108, 128}

In [111]:
m = set(j)
m

{37, 54, 81, 108, 128}

In [112]:
blue_eyes = {'Olivia', 'Harry', 'Lily', 'Jack', 'Amelia'}
blond_hair = {'Harry', 'Jack', 'Amelia', 'Mia', 'Joshua'}
smell_hcn = {'Harry', 'Amelia'}
taste_ptc = {'Harry', 'Lily', 'Amelia', 'Lola'}
o_blood = {'Mia', "Joshua", 'Lily', "Olivia"}
b_blood = {'Amelia', 'Jack'}
a_blood = {'Harry'}
ab_blood = {'Joshua', 'Lola'}

In [113]:
blue_eyes.union(blond_hair)

{'Amelia', 'Harry', 'Jack', 'Joshua', 'Lily', 'Mia', 'Olivia'}

In [114]:
blue_eyes.union(blond_hair) == blond_hair.union(blue_eyes)

True

In [115]:
blue_eyes.intersection(blond_hair)

{'Amelia', 'Harry', 'Jack'}

In [116]:
blue_eyes.intersection(blond_hair) == blond_hair.intersection(blue_eyes)

True

In [117]:
blue_eyes.difference(blond_hair)

{'Lily', 'Olivia'}

In [118]:
blond_hair.difference(blue_eyes)

{'Joshua', 'Mia'}

In [119]:
blue_eyes.difference(blond_hair) == blond_hair.difference(blue_eyes)

False

In [120]:
blue_eyes.symmetric_difference(blond_hair)

{'Joshua', 'Lily', 'Mia', 'Olivia'}

In [121]:
blue_eyes.symmetric_difference(blond_hair) == blond_hair.symmetric_difference(blue_eyes)

True

In [122]:
smell_hcn.issubset(blond_hair)

True

In [123]:
taste_ptc.issuperset(smell_hcn)

True

In [124]:
a_blood.isdisjoint(o_blood)

True