# 2 List Comprehensions

In [1]:
words = "Why sometimes I have believed as many as six impossible things before breakfast".split()
words

['Why',
 'sometimes',
 'I',
 'have',
 'believed',
 'as',
 'many',
 'as',
 'six',
 'impossible',
 'things',
 'before',
 'breakfast']

In [2]:
[len(word) for word in words]

[3, 9, 1, 4, 8, 2, 4, 2, 3, 10, 6, 6, 9]

In [3]:
lengths = []

for word in words:
    lengths.append(len(word))
    
lengths

[3, 9, 1, 4, 8, 2, 4, 2, 3, 10, 6, 6, 9]

In [5]:
from math import factorial


f = [len(str(factorial(x))) for x in range(20)]
f

[1, 1, 1, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18]

In [6]:
type(f)

list

# 3 Set Comprehensions

In [7]:
{len(str(factorial(x))) for x in range(20)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18}

# 4 Dictionary Comprehensions

In [12]:
from pprint import pprint as pp

In [13]:
country_to_capital = {'United Kingdom': 'London',
                      'Brazil': 'Brazilia',
                      'Morocco': 'Rabat',
                      'Sweden': 'Stockholm'}

In [14]:
capital_to_country = {capital: country for country, capital in country_to_capital.items()}
pp(capital_to_country)

{'Brazilia': 'Brazil',
 'London': 'United Kingdom',
 'Rabat': 'Morocco',
 'Stockholm': 'Sweden'}

In [15]:
words = ['hi', 'hello', 'foxtrot', 'hotel']
{x[0]: x for x in words}

{'h': 'hotel', 'f': 'foxtrot'}

In [16]:
import os
import glob

In [18]:
file_sizes = {os.path.realpath(p): os.stat(p).st_size for p in glob.glob('*.ipynb')}
file_sizes

{'D:\\data_files\\python_learning\\python_fundamentals\\2_getting_starting_with_python_3.ipynb': 33775,
 'D:\\data_files\\python_learning\\python_fundamentals\\3_strings_and_collections.ipynb': 25534,
 'D:\\data_files\\python_learning\\python_fundamentals\\5_objects.ipynb': 19200,
 'D:\\data_files\\python_learning\\python_fundamentals\\6_collections.ipynb': 68166,
 'D:\\data_files\\python_learning\\python_fundamentals\\7_handling_exceptions.ipynb': 19132,
 'D:\\data_files\\python_learning\\python_fundamentals\\8_iterables.ipynb': 4763}

# 5 Filtering Predicates

In [19]:
from math import sqrt

In [20]:
def is_prime(x):
    if x < 2:
        return False
    for i in range(2, int(sqrt(x)) + 1):
        if x % i == 0:
            return False

    return True

In [21]:
[x for x in range(101) if is_prime(x)]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [22]:
{x*x: (1, x, x*x) for x in range(101) if is_prime(x)}

{4: (1, 2, 4),
 9: (1, 3, 9),
 25: (1, 5, 25),
 49: (1, 7, 49),
 121: (1, 11, 121),
 169: (1, 13, 169),
 289: (1, 17, 289),
 361: (1, 19, 361),
 529: (1, 23, 529),
 841: (1, 29, 841),
 961: (1, 31, 961),
 1369: (1, 37, 1369),
 1681: (1, 41, 1681),
 1849: (1, 43, 1849),
 2209: (1, 47, 2209),
 2809: (1, 53, 2809),
 3481: (1, 59, 3481),
 3721: (1, 61, 3721),
 4489: (1, 67, 4489),
 5041: (1, 71, 5041),
 5329: (1, 73, 5329),
 6241: (1, 79, 6241),
 6889: (1, 83, 6889),
 7921: (1, 89, 7921),
 9409: (1, 97, 9409)}

# 7 Iteration Protocols

In [23]:
iterable = ['Spring', 'Summer', 'Autumn', 'Winter']
iterable

['Spring', 'Summer', 'Autumn', 'Winter']

In [24]:
iterator = iter(iterable)
iterator

In [25]:
next(iterator)

'Spring'

In [26]:
next(iterator)

'Summer'

In [27]:
next(iterator)

'Autumn'

In [28]:
next(iterator)

'Winter'

In [30]:
# next(iterator)

# ---------------------------------------------------------------------------
# StopIteration                             Traceback (most recent call last)
# <ipython-input-29-4ce711c44abc> in <module>
# ----> 1 next(iterator)

# StopIteration:

In [31]:
def first(iterable):
    iterator = iter(iterable)
    try:
        return next(iterator)
    except StopIteration:
        raise ValueError("Iterable is empty")

In [32]:
first(['1st', '2nd', '3rd'])

'1st'

In [33]:
first({'1st', '2nd', '3rd'})

'3rd'

In [35]:
# first(set())

# ---------------------------------------------------------------------------
# StopIteration                             Traceback (most recent call last)
# <ipython-input-31-a759741c65fb> in first(iterable)
#       3     try:
# ----> 4         return next(iterator)
#       5     except StopIteration:

# StopIteration: 

# During handling of the above exception, another exception occurred:

# ValueError                                Traceback (most recent call last)
# <ipython-input-34-514ef47b455d> in <module>
# ----> 1 first(set())

# <ipython-input-31-a759741c65fb> in first(iterable)
#       4         return next(iterator)
#       5     except StopIteration:
# ----> 6         raise ValueError("Iterable is empty")

# ValueError: Iterable is empty

# 8 Generators

In [36]:
def gen123():
    yield 1
    yield 2
    yield 3

In [37]:
g = gen123()
g

In [38]:
next(g)

1

In [39]:
next(g)

2

In [40]:
next(g)

3

In [42]:
# next(g)

# ---------------------------------------------------------------------------
# StopIteration                             Traceback (most recent call last)
# <ipython-input-41-e734f8aca5ac> in <module>
# ----> 1 next(g)

# StopIteration:

In [43]:
for v in gen123():
    print(v)

1
2
3

In [44]:
h = gen123()
h

In [45]:
i = gen123()
i

In [46]:
h is i

False

In [47]:
next(h)

1

In [48]:
next(h)

2

In [49]:
next(i)

1

In [50]:
next(i)

2

In [51]:
def gen246():
    print("About to yield 2")
    yield 2
    print("About to yield 4")
    yield 4
    print("About to yield 6")
    yield 6
    print("About to return")

In [52]:
g = gen246()
g

In [53]:
next(g)

About to yield 2

2

In [54]:
next(g)

About to yield 4

4

In [55]:
next(g)

About to yield 6

6

In [57]:
# next(g)

# About to return
# ---------------------------------------------------------------------------
# StopIteration                             Traceback (most recent call last)
# <ipython-input-56-e734f8aca5ac> in <module>
# ----> 1 next(g)

# StopIteration:

# 9 Stateful Generator Functions

In [59]:
def take(count, iterable):
    """
    Args:
        count: The maximum number of items to retrieve.
        iterable: The source series.
    Yields:
        At most 'count' items from 'iterable'
    """
    counter = 0
    for item in iterable:
        if counter == count:
            return 
        counter += 1
        yield item

In [61]:
items = [2, 4, 6, 8, 10]

for item in take(3, items):
    print(item)

2
4
6

In [64]:
def distinct(iterable):
    seen = set()
    for item in iterable:
        if item in seen:
            continue
        yield item
        seen.add(item)

In [65]:
items = [5, 7, 7, 6, 5, 5]

for item in distinct(items):
    print(item)

5
7
6

In [66]:
for item in take(3, distinct(items)):
    print(item)

5
7
6

# 10 Laziness and the Infinite

In [67]:
def lucas():
    yield 2
    a = 2
    b = 1
    while True:
        yield b
        a, b = b, a + b

In [1]:
# 无限生成数据，但不会导致内存溢出
# for x in lucas():
#     print(x)

# 11 Generator

In [3]:
million_squares = (x*x for x in range(1, 11))
million_squares

In [4]:
list(million_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
list(million_squares)

[]

In [7]:
sum(x*x for x in range(1, 1000001))

333333833333500000

In [8]:
sum(x for x in range(1001) if x % 2 == 0)

250500

# 12 Batteries Included for Iteration

In [9]:
from itertools import islice, count

In [11]:
thousand_odds = islice((x for x in count() if x % 2 != 0), 1000)
thousand_odds

In [12]:
sum(thousand_odds)

1000000

In [13]:
any([False, False, True])

True

In [14]:
all([False, False, True])

False

In [16]:
[name for name in ['London', 'New York', 'Sydney']]

['London', 'New York', 'Sydney']

In [17]:
[name.title() for name in ['London', 'New York', 'Sydney']]

['London', 'New York', 'Sydney']

In [18]:
all(name == name.title() for name in ['London', 'New York', 'Sydney'])

True

In [19]:
sunday = [12, 13, 14]
monday = [15, 16, 17]

In [20]:
for item in zip(sunday, monday):
    print(item)

(12, 15)
(13, 16)
(14, 17)

In [21]:
for sun, mon in zip(sunday, monday):
    print("average = ", (sun + mon) / 2)

average =  13.5
average =  14.5
average =  15.5

In [22]:
tuesday = [18, 19, 20]

In [23]:
for temps in zip(sunday, monday, tuesday):
    print("min={:4.1f}, max={:4.1f}, average={:4.1f}".format(min(temps), max(temps), sum(temps) / len(temps)))

min=12.0, max=18.0, average=15.0
min=13.0, max=19.0, average=16.0
min=14.0, max=20.0, average=17.0

In [24]:
from itertools import chain

In [25]:
temperatures = chain(sunday, monday, tuesday)
temperatures

In [26]:
list(temperatures)

[12, 13, 14, 15, 16, 17, 18, 19, 20]

In [30]:
temperatures = chain(sunday, monday, tuesday)

In [31]:
all(t > 0 for t in temperatures)

True